<a routerLink="residence">residence</a>
<br>
<a routerLink="test">Test</a><br>
<a routerLink="appartement">appartement</a>
<h1>Bonjour</h1>
{{title}}


<button (click)="f(1)" >Enzel</button>
<!-- normale (pas de property binding)// champs de text oude formulaire -->
<input type="text" value="title">
<!-- 1ère methode de property binding -->
<input type="text" value={{title}}>
<!--2ème methode de property binding  -->
<input type="text" [value]="title">

<!--<input type="text" [(ngModel)]="title">-->
<router-outlet></router-outlet>
